<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Square Grid</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="wrapper">
        <ul class="sq clearfix">
            <li class="sq-item sq-item-large">
                <a href="#" class="sq-item-anchor">
                   <img class="sq-item-anchor-cover" src="images/crepe.png" alt="">
                    <span class="sq-item-anchor-title"> Crepe</span>
                </a>
            </li>
            <li class="sq-item">
                <a href="#" class="sq-item-anchor">
                   <img class="sq-item-anchor-cover" src="images/candy.png" alt="candy">
                    <span class="sq-item-anchor-title"> Candy</span>
                </a>
            <li class="sq-item">
                <a href="#" class="sq-item-anchor">
                   <img class="sq-item-anchor-cover" src="images/cheeze.png" alt="cheeze">
                    <span class="sq-item-anchor-title"> Cheeze</span>
                </a>
            </li>
            <li class="sq-item">
                <a href="#" class="sq-item-anchor">
                   <img class="sq-item-anchor-cover" src="images/chili.png" alt="chili">
                    <span class="sq-item-anchor-title"> Chili</span>
                </a>
            </li>
            <li class="sq-item sq-item-long sq-item-float-right">
                <a href="#" class="sq-item-anchor">
                   <img class="sq-item-anchor-cover" src="images/cake.png" alt="cake">
                    <span class="sq-item-anchor-title"> Cake</span>
                </a>
            </li>
            <li class="sq-item">
                <a href="#" class="sq-item-anchor">
                   <img class="sq-item-anchor-cover" src="images/choco.png" alt="choco">
                    <span class="sq-item-anchor-title"> Choco</span>
                </a>
            </li>
            <li class="sq-item">
                <a href="#" class="sq-item-anchor">
                   <img class="sq-item-anchor-cover" src="images/cinnamon.png" alt="cinnamon">
                    <span class="sq-item-anchor-title"> Cinnamon</span>
                </a>
            </li>
            <li class="sq-item">
                <a href="#" class="sq-item-anchor">
                   <img class="sq-item-anchor-cover" src="images/coke.png" alt="coke">
                    <span class="sq-item-anchor-title"> Coke</span>
                </a>
            </li>
            <li class="sq-item sq-item-wide">
                <a href="#" class="sq-item-anchor">
                   <img class="sq-item-anchor-cover" src="images/crepe.png" alt="crepe">
                    <span class="sq-item-anchor-title"> Crepe</span>
                </a>
            </li>
            <li class="sq-item">
                <a href="#" class="sq-item-anchor">
                   <img class="sq-item-anchor-cover" src="images/cream.png" alt="cream">
                    <span class="sq-item-anchor-title"> Cream </span>
                </a>
            </li>
        </ul>
    </div>
</body>
</html>